.construction-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1c1c1c; /* Глубокий чёрный фон */
  background-size: cover; /* Масштабируем изображение, чтобы оно покрывало весь экран */
  background-position: center; /* Центрируем изображение */
}

.construction-selection h1 {
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ff6347; /* Яркий красный цвет текста */
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
}

.item {
  margin: 10px; /* Добавляем отступы между объектами */
  padding: 20px; /* Добавляем внутренние отступы */
  background-color: #292929; /* Углублённый чёрный фон */
  border: 2px solid #ff4500; /* Красный контур */
  border-radius: 20px; /* Закругляем углы */
  box-shadow: 0 4px 8px rgba(255, 69, 0, 0.7); /* Красная тень */
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 10px; /* Добавляем отступ слева */
  margin-right: 10px; /* Добавляем отступ справа */
}

.item span {
  margin-top: 0px;
  font-size: 18px;
  color: #ff6347; /* Яркий красный цвет текста */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.item .quantity-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.item button {
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #292929; /* Углублённый чёрный тон */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Добавляем отступ сверху */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px; /* Добавляем отступ слева */
  margin-right: 10px; /* Добавляем отступ справа */
}

.item button:hover {
  background-color: #2f2f2f; /* Стальной серый фон */
}

button {
  padding: 10px 20px;
  font-size: 18px;
  color: #ff4500; /* Яркий красный цвет текста */
  background-color: #292929; /* Углублённый чёрный тон */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Добавляем отступ сверху */
}

button:hover {
  background-color: #2f2f2f; /* Стальной серый фон */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px; /* Добавляем отступ сверху */
}

@media (max-width: 768px) {
  .items-container {
    grid-template-columns: repeat(2, 1fr); /* Два столбика на планшетах */
  }

  .item span {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .items-container {
    grid-template-columns: repeat(2, 1fr); /* Два столбика на телефонах */
  }

  .item span {
    font-size: 14px;
  }
}

.element {
  forced-color-adjust: none;
}

.result-button {
  padding: 15px 30px;
  font-size: 1.5em;
  color: #ff6347; /* Яркий красный цвет текста */
  background-color: #292929; /* Углублённый чёрный тон */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: blink 2s infinite 2s, colorChange 2s infinite 2s; /* Мигающая анимация с задержкой и смена цвета */
}

.result-button {
  background-color: #2f2f2f; /* Стальной серый фон */
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes colorChange {
  0%, 100% {
    background-color: #ff6347; /* Яркий красный */
  }
  50% {
    background-color: #ff4500; /* Глубокий красный */
  }
}
